/* Container */
#projects .container {
    display: flex;
    transform: translatex(0px) translatey(0px);
}

/* Heading */
#projects h2 {
    height: 110px;
    padding-bottom: 16px;
}

/* Heading */
#projects .container h2 {
    width: 100% !important;
}

/* Heading */
#services .container h2 {
    width: 100% !important;
}

/* Services */
#services {
    transform: translatex(0px) translatey(0px);
    min-height: 395px;
}

    /* Column container */
    #services .column-container {
        flex: 1 1 0%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

/* Image */
#projects .project:nth-child(3) img {
    height: 260px;
}

/* Image */
#projects .project img {
    height: 260px;
}

/* Paragraph */
#projects .project p {
    text-align: center;
}

@media (max-width:1487px) {

    /* Column container */
    #services .container .column-container {
        top: 0px !important;
        position: relative !important;
        left: 0px !important;
        flex: 1 1 0% !important;
        align-self: center !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    /* Container */
    #services .container {
        justify-content: normal !important;
        flex-wrap: wrap;
        cursor: all-scroll !important;
    }

    /* Column container */
    #services .column-container {
        display: flex;
        flex-direction: row;
    }

    /* Paragraph */
    #intro p {
        display: none !important;
    }

    /* Paragraph */
    #intro .container p {
        transform: translatex(-186px) translatey(-10.666748046875px) !important;
    }

    /* Link */
    #contact a {
        transform: translatex(-268px) translatey(-2.66650390625px);
    }

    /* Image */
    #projects .container .project .project-card .project-image img {
        display: inline-block !important;
        height: 278px !important;
    }

    /* Image */
    #projects .project img {
        margin-bottom: 13px !important;
    }

    /* Image */
    #projects .container .project:nth-child(3) .project-card .project-image img {
        height: 281px !important;
    }

    /* Paragraph */
    #projects .project p {
        text-align: justify;
    }
}

@media (max-width:1327px) {

    /* Column container */
    #services .column-container {
        flex: 1 1 0%;
        flex-wrap: wrap;
        display: inline-flex;
    }

    /* Column container */
    #services .container .column-container {
        flex-direction: column !important;
        justify-content: center !important;
    }

    /* Image */
    #projects .container .project .project-card .project-image img {
        height: 280px !important;
    }

    /* Paragraph */
    #projects .project p {
        text-align: center;
    }
}

@media (max-width:760px) {

    /* Column container */
    #services .column-container {
        flex: 1 1 0%;
        flex-wrap: wrap;
    }
}

@media (max-width:1327px) {

    /* Column container */
    #services .column-container {
        flex: 1 1 0%;
        flex-wrap: wrap;
        display: inline-flex;
    }

    /* Column container */
    #services .container .column-container {
        flex-direction: column !important;
        justify-content: center !important;
    }
}

@media (max-width:760px) {

    /* Column container */
    #services .column-container {
        flex: 1 1 0%;
        flex-wrap: wrap;
    }
}

/*
/* Stili per il menu responsive a dimensioni ridotte */
/*@media (max-width: 760px) {
  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99999;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50px;
    transition: all 0.3s ease;
    position: relative; 
    z-index: 1; 
  }

  .menu.open {
    display: flex;
  }

  .menu li {
    width: 100%;
    text-align: right;
    margin: 10px 0;
  }
}*/



/* Media queries */

/* Stili per dispositivi con larghezza massima di 768px */
/*@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  .menu {
    display: none;
  }

  .carousel-control {
    display: none;
  }

  .carousel-indicators {
    bottom: 20px;
  }
  
  .carousel-inner img {
    height: auto;
    max-width: 100%;
    object-fit: contain;
  }
}*/

/* Stili per dispositivi con larghezza massima di 480px */
@media (max-width: 480px) {
  .container {
    display: inlinen;
    padding: 0 10px;
  }
}


/* Stile generale  p*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  text-align: center;
  
}

p {
  text-align: justify;
}

.cta-button {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

/* Stile sezione intro */
#intro {
  background-color: #f2f2f2;
}

/* Stile sezione projects */
#projects {
  background-color: #fff;
}

.project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.project img {
  width: 100%;
  height: auto;
}

/* Stile sezione portfolio */
#portfolio {
  background-color: #f2f2f2;
}

/* Stile sezione booking */
#booking {
  background-color: #fff;
}

form {
  margin: 0 auto;
  max-width: 400px;
}

label, input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
}

